@import url(../../vendor/fonts.css);

.deckCover {
  width: 209px;
  height: 234px;
  background-color: #E7E7E7;
  border-radius: 2px;
  padding: 1px;
  border-radius: 5px;
}

.deckCover:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}